.main {
  padding: 20px;
}

.chart {
  position: relative;
  font-family: Helvetica;
  width: 100%;
  border: solid 1px silver;
  background-color: whitesmoke;
}

.team {
  font-weight: bold;
  font-size: 18px;
}

.progress {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.085),
    rgba(0, 0, 0, 0.401)
  );
}

.score {
  font-weight: bold;
}

button {
  background-color: #3740ba;
  margin: 10px 3px;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  width: 90px;
  height: 30px;
  font-family: Helvetica;
}

button:hover {
  background-color: #1922a0;
  cursor: pointer;
}
